*{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#hm{
    margin-right: 80px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mm{
    margin-left: 80px;
    margin-right: 80px;
}
main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}